.col-nama {
  max-width: 10rem;
  font-weight: 600;
  font-style: bold;
  font-size: 0.9rem;
}

.coltitik {
  max-width: 1em;
  font-weight: 500;
  font-style: bold;
  font-size: 0.9rem;
}

.col-isi {
  max-width: 15rem;
  font-weight: 500;
  font-style: bold;
  font-size: 0.9rem;
}

.paragraf-bri {
  text-align: justify;
  font-weight: 500;
  font-size: 0.8rem;
}

@media only screen and (min-width: 720px) {
  .paragraf-bri {
    text-align: justify;
    font-weight: 500;
    font-size: 0.9rem;
  }
}

.terms-nama {
  max-width: 1.5rem;
  font-weight: 400;
  font-style: bold;
  font-size: 0.8rem;
}

.terms-isi {
  font-weight: 400;
  font-style: bold;
  font-size: 0.8rem;
  text-align: justify;
}

.terms-note {
  font-size: 0.8rem;
  padding: 0 1rem;
}

.container-gambar {
  display: inline;
}

.btn-android {
  margin: 1rem;
  background-color: #000000;
  border: none;
  font-size: 0.6rem;
}

.btn-apple {
  margin: 1rem;
  background-color: rgb(0, 0, 0);
  border: none;
  font-size: 0.6rem;
}

.color-download {
  color: white;
}

.color-white {
  color: white;
}

.btn-scroll-android {
  background: black;
  color: white;
  cursor: "pointer";
}

.btn-scroll-android:hover {
  background: black;
  color: grey;
  cursor: "pointer";
}

.title-navbar {
  font-weight: 500;
  font-style: normal;
  font-size: 0.8rem;
  margin: 1rem 0.5rem;
  color: black;
}

.title-navbar:hover {
  color: rgb(190, 190, 190);
  cursor: pointer;
}

.btn-home {
  width: 80%;
  border-radius: 25px;
  background-color: #fc8a23;
  border-color: #fc8a23;
}

.btn-home:hover {
  background-color: #914400;
  border-color: #914400;
}

hr {
  height: 2px;
}

.logo-124 {
  height: 60px;
  position: absolute;
  left: 20px;
}

.logo-br {
  height: 55px;
  position: absolute;
  right: calc(100% - 230px);
}

@media only screen and (min-width: 992px) {
  .logo-br {
    height: 75px;
    position: absolute;
    right: 10px;
  }

  .logo-124 {
    height: 75px;
    position: absolute;
    left: 10px;
  }
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown-item {
  color: #00456f;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1rem;
  // margin: 2rem;
  // padding-top: 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.486);
  width: 100%;
  height: 2.6rem;
}

.body-list {
  background-color: white;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.register-border {
  padding-top: 80px;
  padding-bottom: 50px;
}

.modal-open {
  padding-right: 0px !important;
}

.modal-dialog {
  max-width: 100vw !important;
}

.footer-size {
  font-size: 0.44rem;
}

.tabs-gallery {
  font-weight: 800;
  color: white;
  font-size: 0.5rem;
}

@media only screen and (min-width: 321px) {
  .footer-size {
    font-size: 0.5rem;
  }

  .tabs-gallery {
    font-weight: 800;
    color: white;
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 375px) {
  .footer-size {
    font-size: 0.52rem;
  }
}

@media only screen and (min-width: 411px) {
  .footer-size {
    font-size: 0.57rem;
  }

  .tabs-gallery {
    font-weight: 800;
    color: white;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .tabs-gallery {
    font-weight: 800;
    color: white;
    font-size: 1rem;
  }
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
